<h1>Application</h1>
<hr>
<div class="list-group">
  <div class="list-group-item">
  <div class="list-group-item-heading">
    {{plural model.countActive
             "aucun service sélectionnée"
             "un service sélectionné"
             "services sélectionnés"}}
  </div>
  </div>
  {{#each model.services as |service|}}
    <div class="list-group-item list-group-item-info {{if service.active "active" "disabled"}}"  {{action "toggleActive" service}}>
      {{service.name}}
      <span class="badge">{{format-currency service.price}}</span>
    </div>
  {{/each}}
  <hr>
  <div class="list-group-item list-group-item-info">
    &nbsp;
    Total  <span class="badge"> {{format-currency model.sumActive}}</span>
  </div>
  <div class="list-group-item">
   <div class="input-group">
     <span class="input-group-addon">
        {{input type="checkbox" checked=cancelOnCbClick}} {{if cancelOnCbClick "yes" "no"}}
     </span>
     {{input value=model.promo type="text" class="form-control"}}
   </div>
  </div>
  <div class="list-group-item">
    {{model.txRemise}}
  </div>
  <div class="list-group-item">
  Remise : <span class="badge">{{if cancelOnCbClick  model.Remise ""}}{{format-currency}}</span>
  </div>
  <div class="list-group-item">
    Total avec remise : <span class="badge">{{if cancelOnCbClick model.TotalFinal model.sumActive}}{{format-currency}}</span>
  </div>
</div>